h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.rikki {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.rikki2 {
  color: rgb(117, 238, 133);
  width: 200px;
  height: 340px;
  border-radius: 10px;
  border: 1px solid rgb(117, 238, 133);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 1s;

  margin: 20px;
}
.rikki2:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.944);
  transform: translateY(-5px);
}

img {
  border-radius: 20px, 20px;
  width: 200px;
  height: 250px;
}

body {
  align-items: center;
  background-size: no-repeat;
  background-size: cover;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/410/867/750/vector-forest-sunset-forest-sunset-forest-wallpaper-preview.jpg);
}
.container {
  width: 100%;
  height: 100%;
  background-size: no-repeat;
  background-size: cover;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/175/524/956/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg);
}
#submit {
  position: absolute;
  width: 400px;
  height: 150px;
  align-items: center;
  font-size: 50px;
  transition: 1s;
}
#submit:hover {
  transform: scale(1.2);
}
